name: RustModeTest

on:
    push:
        # 在 development 分支上自动化测试
        branches: [ development ]
    pull_request:
        # 合并到 main 分支时同样运行测试
        branches: [ main ]

jobs:
    build-and-test:
        # 运行环境
        runs-on: windows-latest

        steps:
            # 下载代码到虚拟环境中
            -   name: Checkout code
                uses: actions/checkout@v4

            # 安装Rust工具链
            -   name: Install Rust
                uses: actions-rust-lang/setup-rust-toolchain@v1
                with:
                    toolchain: stable
                    components: rustfmt, clippy
            # 构建项目
            -   name: Build project
                run: cargo build --verbose

            # 运行项目
            -   name: Run tests
                run: cargo test --verbose
